@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

a {
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
}

.container {
  width: 95%;
  margin: 0 auto;
  max-width: 1440px;
}

.df {
  display: flex;
  align-items: center;
}

body {
  background-color: rgba(255, 255, 255, 0.3333333333);
}

.form-main {
  display: grid;
  grid-template-columns: 350px 1fr;
  gap: 20px;
  height: 100vh;
}

@media (max-width: 1300px) {
  .user-table {
    overflow-x: auto;
  }
  .user-table table {
    min-width: 1000px;
  }
}
table {
  margin-top: 30px;
  width: 100%;
  border-collapse: collapse;
  border-color: #000;
}
table thead {
  background: #1976d2;
}
table thead tr th {
  padding: 12px 8px;
  text-align: left;
  color: rgb(249, 247, 247);
  font-weight: 700;
}
table thead tr th:first-child {
  border-radius: 10px 0 0 0;
}
table thead tr th:last-child {
  border-radius: 0 10px 0 0;
}
table tbody {
  border-radius: 10px;
}
table tbody tr {
  transition: 0.2s;
  border: 1px solid #c0bfbf;
  color: rgb(99, 98, 98);
}
table tbody tr:nth-child(even) {
  background-color: rgb(238, 238, 238);
}
table tbody tr:hover {
  background-color: rgb(230, 230, 230);
}
table tbody tr td {
  text-align: left;
  padding: 4px 8px;
  font-size: 16px;
  font-weight: 500;
}

.form {
  display: flex;
  flex-direction: column;
}

.register {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: rgb(221, 237, 244);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 1px 1px 10px gray;
  height: 100vh;
  position: sticky;
  top: 0;
}
.register__btn {
  background-color: blue;
  width: 100%;
  padding: 8px 10px;
  border-radius: 5px;
  color: white;
  font-size: 18px;
  font-weight: 400;
  margin-top: 10px;
}
.register__btn:hover {
  background: rgb(5, 5, 172);
}
.register__card {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.register__title {
  font-size: 28px;
}
.register__card {
  display: flex;
  align-items: center;
  gap: 15px;
}

label {
  font-size: 18px;
  font-weight: 500;
}

input {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 10px;
  margin: 10px 0px;
  outline: none;
  border-radius: 8px;
  border: 1px solid gray;
  font-size: 16px;
  font-weight: 500;
}

.delete-btn {
  background-color: rgb(75, 75, 239);
  width: 100%;
  padding: 6px 10px;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  font-weight: 400;
}
.delete-btn:hover {
  background: rgb(5, 5, 172);
}

.login {
  background-image: url(../../images/loginBg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 150px;
  height: 100vh;
}
.login__wrap {
  box-shadow: rgba(169, 11, 35, 0.845) 0px 7px 29px 0px;
  border: 1px solid gray;
  border-radius: 15px;
  padding: 40px;
  margin: 0 auto;
  width: 100%;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  background-color: rgb(61, 15, 15);
  color: rgb(219, 211, 211);
}
.login h2 {
  text-align: center;
  font-size: 32px;
}

.username, .password {
  width: 100%;
}

.login-btn {
  text-align: center;
}
.login-btn button {
  padding: 8px 18px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
}