@mixin btn($bg: var($btnCl), $cl: var($primaryCl), $size: 16px) {
    background: $btnCl ;
    color: $mainCl;
    font-size: $size;
    padding: 8px 18px;
    border-radius: 20px;
    border: 1px solid  transparent;
    transition: 0.4s;

    &:hover {
        color: $secondaryCl ;
        background: $mainCl;
    }
}


